<!DOCTYPE html>
<head>
  <title>Manager</title>
  <link href="manager.css" rel="stylesheet" type="text/css" />
  <script src="manager.js"></script> 
</head>
<body>
  <nav>
    <ul>
      <li><a href="/order">Place Order</a></li> 
    </ul>
  </nav>
  <br>
  Hello Manager!
  <div id="weather">Weather</div>
   <br>
   <div class="dropdown">
    <select>
      <option value="option1">Edit Inventory</option>
      <option value="option2">Edit Menu</option>
      <option value="option3">Generate Reports</option>
    </select>

    <div id="display-area">
      <p>Select an option from the drop-down menu.</p>
    </div>
  </div>  
  </div>
</body>
