<!DOCTYPE html>
<head>
  <title>Manager</title>
  <link href="manager.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
  <nav>
    <ul>
      <li><a href="/order">Place Order</a></li> 
    </ul>
  </nav>
  <br>
  Hello Manager!
  <div id="weather">Weather</div>
   <br>
   <div class="dropdown">
    <select id="dropdown-menu">
      <option value="option0">Please Select...</option>
      <option value="option1">Edit Inventory</option>
      <option value="option2">Edit Menu</option>
      <option value="option3">Run Reports</option>
    </select>
  </div>
  
  <div id="display-area">
    <p>Select an option from the drop-down.</p>
  </div>
 
  <script src="script.js"></script>
</body>
