<!DOCTYPE html>
<head>
  <title>Manager</title>
  <link href="manager.css" rel="stylesheet" type="text/css" />
  <script src="manager.js"></script> 
</head>
<body>
  <nav>
    <ul>
      <li><a href="/order">Place Order</a></li> 
    </ul>
  </nav>
  <br>
  Hello Manager!
  <div id="weather"></div>
     
  </div>
</body>
