<!DOCTYPE html>
<head>
  <title>Home Page</title>
  <link href="order.css" rel="stylesheet" type="text/css" />
  <script src="order.js"></script>
</head>
<body>
  <div class="container">
    <div class="button-grid">
      <% for (var i in menuitems) { %>
      <button onclick="handleClick('<%= menuitems[i].itemname %>')">
        <%= menuitems[i].itemname %>
      </button>
      <% } %>
    </div>
    <div class="text-box">
      <img src="images/smoothieKing.png" alt="Logo" width="500" height="150">
      <h1>Order:</h1> 
      <br>
      <textarea disabled rows="10" ></textarea> 
      <br>
      <button onclick="handleDelete()">Delete</button>
      <button onclick="handleOrder()">Place Order</button>  
    </div>
  </div>
</body>
